.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  padding: 8px;
  align-items: center;
}

.queueButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  vertical-align: bottom;
  cursor: pointer;
  box-sizing: border-box;
}

.queuedButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  vertical-align: bottom;
  box-sizing: border-box;
}
