.container {
  display: flex;
  flex-direction: row;
}

.searchInput {
  flex-grow: 1;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  border-radius: 0.5em 0 0 0.5em;
  padding: 4px;
}

.searchButton {
  border-radius: 0 0.5em 0.5em 0;
  border-color: black;
}
