.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerBarContainer {
  flex-shrink: 0;
  margin: 8px;
}

.searchListContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.footerBarContainer {
  flex-shrink: 0;
}
