.headerRowContainer {
  position: sticky;
  top: 0;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.6);
  padding: 8px;
}

.rowContainer:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.rowHeader {
  text-transform: uppercase;
}

.albumRowContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.trackRowContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.removeDefaultListItemStyle {
  list-style: none;
}
