.item {
  font-weight: bold;
  position: relative;
  cursor: pointer;
  border-bottom-style: solid;
  padding-bottom: 2px;
  border-bottom-width: 1px;
  line-height: 1.4em;
}

.item:hover {
  opacity: 0.6;
}

.item:active {
  opacity: 0.4;
}
