.container {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  padding: 8px;
  align-items: center;
}

.queueButton {
  composes: operationIcon from "../common/ListItem.module.css";
}

.queuedButton {
  composes: operationIcon from "../common/ListItem.module.css";
  cursor: unset;
}
